@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu&display=swap');

@font-face {
    font-family: 'MockFlowFont1';
    src: url('MockFlowFont1.eot?#iefix') format('embedded-opentype'),  url('MockFlowFont1.woff') format('woff'), url('MockFlowFont1.ttf')  format('truetype'), url('MockFlowFont1.svg#MockFlowFont1') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  


:root {
    --title: 'Ubuntu', sans-serif;
    --content: 'Oxygen', sans-serif;
}

*{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
    background-color: #FFFFFF;
    font-family: var(--content);    
    color: white;
}

.home {
    background: url(banner.jpg.png) no-repeat center;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.navbar{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-family: var(--title);
}

.arrow {
    width: 1.2vw;
    position: absolute;
    top: 120%;
    left: 49.5%;
    z-index: 99999999999999999999999;
    animation: bounce 2s infinite;
}

.backgroundlogo {
    background-color: #261431;
    border-radius: 20px;
    transition: all 0.3s 0s ease;
    padding-right: 10px;
    padding-left: 10px;
    padding-TOP: 5px;
    padding-bottom: 5px;
}

.backgroundlogo:hover {
    background-color: #552277;
}

.transition {
    transition: all 0.2s 0s ease;
}

.logo {
    font-size: 45px;
}

.colorlogo{
    color: #8b37c3;
}

.colorlogoscroll{
    color: white;
}

.menu {
    list-style: none;
    font-size: 18px;
}

.menu li {
    display: inline;
}


.backgroundli {
    background-color: #261431;
    border-radius: 20px;
    transition: all 0.3s ease;
    padding-right: 10px;
    padding-left: 10px;
    padding-TOP: 5px;
    padding-bottom: 5px;
    transform: scale(1.1);
}

.backgroundli:hover {
    background-color: #552277;
}

.menu-btn {
    transition: ease-in-out 0.3s;
}

.menu-btn:hover {
    font-size: 18.5px;
    padding-bottom: 2px;
    border-bottom: solid 1.5px #552277;
}

a {
    text-decoration:none;
    color: white;
}

.welcome{
    display: inline-block;
    color: #fff;
    font-size: 4vh;
    margin-left: 7vw;
    margin-top: 55vh;
}

.name-span {
    font-size: 10vh;
    margin-left: -6px;
    color: #8b37c3;
    font-family: var(--title);
    word-spacing: -10px;
    text-shadow: 0 0 3px #451E5E;
}

#typed {
    color: #8b37c3;
}

i {
    font-size: 75%;
}

section {
    height: 100vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-align: start;
}

.about svg {
    position: absolute;
    width: 100%;
}

.title-content {
    padding: 100px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    line-height: 0px;
    flex-direction: column;
    color: #000000;
}

.secund {
    margin-top: 20px;
    color: #351947;
    font-family: var(--title);
    font-size: 1.2em;
}

.secund::before,
.secund::after {
  border: 2px solid #000000;
  display: inline-block;
  content: "";
  width: 100px;
  transform: translate(0, -6px);
}
.secund::before {
    margin-right: 0.7vw;
}

.secund::after {
    margin-left: 0.7vw;
}


.pres-title {
    color: #000000;
}

.presentation {
    color: #000000;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    align-items: center;
    text-align: justify;
    gap: 10%;
}

@media (orientation: portrait) {
    .presentation {
        justify-content: center;
        width: 100%;
        gap: 10%;
    }
    .who {
        font-size: 3em;
    }
}

.who {
    font-family: var(--title);
    font-size: 3em;
    line-height: 0;
}

.pres-img {
    width: 300px;
    transition: ease-in-out 0.3s;
    border-radius: 50%;
}

.pres-img:hover {
    transform: scale(1.1, 1.1);
}


.pres {
    width: 60%;
}


/* ------ Pres button ------ */ 

.container-showmore {
    display: flex;
}

.entreprise-showmore {
    background-color: #552277;
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    transition: ease-in-out 0.2s;
    font-size: 1em;
    font-family: var(--title); 
}

.entreprise-showmore:hover {
    transform: scale(1.03);
    background-color: #6d3096;
}

.entreprise-showmore:active {
    background-color: #451b61;
    transform: scale(1);
}

/* --------------- Animation --------------- */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

footer {
    background-color: #271432;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-align: end;
}

.container-footer {
    margin: auto;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 90% 10%;
    width: 70%;
    height: 100%;
    grid-template-areas: "bloc1-footer bloc2-footer bloc3-footer"
                         "copyright copyright copyright"
}

.bloc1-footer {
    grid-area: 1/1;
    text-align: justify;
}

.bloc2-footer {
    grid-area: 1/2;
}

.bloc3-footer {
    grid-area: 1/3;
}

.bloc1-footer > ul > li, .bloc2-footer > ul > li, .bloc3-footer > ul > li {
    list-style: none;
    line-height: 1.8;
}
.copyright {
    grid-area: copyright;
    margin: auto;
}

.copyright > a {
    text-decoration: underline;
    cursor: pointer;
 }

.secund {
    margin-top: 20px;
    color: #351947;
    font-family: var(--title);
    font-size: 1.2em;
}

.secund::before,
.secund::after {
  border: 2px solid #000000;
  display: inline-block;
  content: "";
  width: 100px;
  transform: translate(0, -6px);
}
.secund::before {
    margin-right: 0.7vw;
}

.secund::after {
    margin-left: 0.7vw;
}
nav a {
    display: block;
    position: relative;
    color: #8d8d8d;
    text-decoration: none;
    font-size: 20px;
    padding: calc(10px + 1vmin)  calc(30px + 1vmin);
    font-weight: 500;
    overflow: hidden;
}
nav a:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
nav a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
nav a.marked {
    color: #333;
    background: #e7e6e6;
}
nav a.marked::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    border-radius: 2px;
    top: 0;
    right: 0;
    background: #552277;
}

.vertical-nav {
    max-width: 300px;
    display: flex; 
    padding: 0 30px;
    position: sticky;
    top: 25%;
}

nav {
    align-self: flex-start;
    margin-right: calc(30px + 1vmin);
    border: 1px solid rgba(51,51,51,0.25);
    border-radius: 8px;
    background-color: #ffffff;
}

.card {
    min-width: 300px;
    width: 300px;
    height: 400px;

    overflow: hidden;

    border-radius: 40px;

    display: block;
}

.overlay {
    height: 20%;
    margin-top: 80%;
    z-index: 1;      
    border-radius: 40px 0 0 0;    
    background-color: #552277;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0 5% 0 5%;
    opacity: 0.9;
  }

  .card_arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    left: 75%;
    z-index: 1;
  }

  .card_arc path {
    fill: #552277;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    transition: .2s ease-in-out;
  }   

  .card:hover .overlay {
    transform: translateY(0);
    height: 40%;
    background-color: #6d3096;
    opacity: 1;
  }

  .card:hover .card_arc path {
    fill: #6d3096;
  }

  .overlay-title {
    color: white;
    text-align: end;
    margin-top: 3%;
  }

  .btn-scroll{
	background-color: #fff;
	color: #999;
	box-shadow: 0 0 10px #999;
	padding: 5px 8px;
	border: 0;
	border-radius: 50%;
	margin: 0 5px;
	z-index: 1;
	cursor: pointer;
	transition:  1s all ease-out;
}

.proj-img {
    background: url('https://preview.redd.it/g38817mqb1361.png?width=640&crop=smart&auto=webp&s=9d8b4b8a44073c740b0c29a78aefa24cf552bc74');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.proj-cert {
    background: url('https://www.systancia.com/wp-content/uploads/2020/08/ANSSI.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lock {
    background: #000;
    filter: grayscale();
    font-family: MockFlowFont1;
}

.opacity-0-css-class {
    opacity: 0;
}

         
.download {
    background-image: linear-gradient(to right, #DA22FF 0%, #6d3096  51%, #DA22FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    border: none;
    font-size: 0.7em;
    font-family: var(--title);
  }

  .download:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  .presentation-card {
    color: #000000;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    align-items: center;
    text-align: justify;
    gap: 10%;
    overflow-x: hidden;
}